<!--footer start from here-->
<footer>
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg-6 col-md-6 footerleft">
        <div class="logofooter">EVO LOGO</div>
      </div>
      <div class="col-lg-6 col-md-6 logoFooterContact">
        <p><i class="fa fa-map-pin"></i> Bd. Iuliu Maniu nr. 7, corp A, intr. 2, et. 2, cam. 11, Sector 6, Bucuresti</p>
        <p><i class="fa fa-phone"></i> Phone (Romania) : 40 21 317 60 64</p>
        <p><i class="fa fa-envelope"></i> E-mail : office@evoconstruct.ro</p>
      </div>
    </div>
  </div>
  </footer>
<!--footer start from here-->

<div class="copyright">
  <div class="container">
    <div class="col-md-12">
      <p>© 2017 - All Rights reserved @web admin Adrian Dinu</p>
    </div>
  </div>
</div>



<!--footer start from here-->
<!-- <footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 footerleft ">
        <div class="logofooter"> EVO LOGO</div>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
        <p><i class="fa fa-map-pin"></i> 210, Aggarwal Tower, Rohini sec 9, New Delhi -        110085, INDIA</p>
        <p><i class="fa fa-phone"></i> Phone (India) : +91 9999 878 398</p>
        <p><i class="fa fa-envelope"></i> E-mail : info@webenlance.com</p>

      </div>
    </div>
  </div>
</footer>
<!-- footer start from here -->

<!-- <div class="copyright">
  <div class="container">
    <div class="col-md-12">
      <p>© 2016 - All Rights with Webenlance</p>
    </div>
  </div>
</div> -->
