<footer>
  <div class="row">
    <div class="col-lg-4 col-sm-4 col-sm-12 col-xs-12">
      <div class="icon iconEarth">
        <a [routerLink]="['/contact']"><span><i class="fa fa-globe" aria-hidden="true"></i></span></a>
      </div>
      <div class="textContact">
        <h3 class="address">Visit us</h3>
        <p class="address">Bd. Iuliu Maniu nr. 7, corp A, intr. 2,</p>
        <p class="address">et. 2, cam. 11, Sector 6, Bucuresti</p>
      </div>
    </div>
    <div class="col-lg-4 col-sm-4 col-sm-12 col-xs-12">
      <div class="icon iconMail">
        <a [routerLink]="['/contact']"><span><i class="fa fa-envelope" aria-hidden="true"></i></span></a>
      </div>
      <div class="textContact">
        <h3 class="address">Mail us</h3>
        <p class="address">proiectare@evoconstruct.ro</p>
        <p class="address">Program de lucru: L-V: 10:00-18:00</p>
      </div>
    </div>
    <div class="col-lg-4 col-sm-4 col-sm-12 col-xs-12">
      <div class="icon iconPhone">
        <a [routerLink]="['/contact']"><span><i class="fa fa-mobile" aria-hidden="true"></i></span></a>
      </div>
      <div class="textContact">
        <h3 class="address">Call us</h3>
        <p class="address">+40 766 390 002</p>
        <p class="address">+40 21 317 60 64</p>
      </div>
    </div>
  </div>
</footer>
