<div class="divider"></div>
<div class="row">
  <div class="col-lg-4 col-md-4"></div>
  <div class="col-lg-4 col-md-4">
    <h3 id="services" >Services</h3>
    <p>
      At our soul and in our daily practice, we are a service company. Our vast suite of capabilities allows us to intersect with one another, involve experts at every level, include our clients’ visions and improve each project we touch.
    </p>
    <p>
      A place is not merely a structure. It is a living, breathing element that resides in a larger environment, and must exist in a community and improve the experience of those who use it – as well as those who never will. Below is a brief description of
      our services.
    </p>
  </div>
  <div class="col-lg-2 col-md-2"></div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-6">
    <h3 id="services">Structural Engineering</h3>
    <p>
      We stretch the design boundaries daily, but always with a practical guide. Our highly experienced in-house team of structural engineers consistently communicates with the architectural team to ensure structural considerations are incorporated into designs
      from day one. This close cooperation translates into buildings that simply work.
    </p>
  </div>
  <div class="col-lg-6 col-md-6">
    <h3 id="services">Architecture</h3>
    <p>
      The heart and soul of what we provide. Our comprehensive architectural services include conceptual and schematic design, design development and construction documentation,assisting with contractor bidding and/or negotiating and construction contract administration.Architecture
      embodies all we touch. And we are a combination of artists and tacticians, imagining, coordinating and creating some of the world’s most iconic places.
    </p>
  </div>
</div>
