<div class="divider"></div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h3 id="team" style="text-align: center;">Team Component</h3>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

    <div class="team-section">
      <div class="team-image">
        <img class="team-img" src="/images/team/image1.png" alt="image1.png">
      </div>
      <div class="team-des">
        <h4 class="team-name">JANE JONSON</h4>
        <div class="team-name-des">Creative Director</div>
      </div>
    </div>

  </div>

  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

    <div class="team-section">
      <div class="team-image">
        <img class="team-img" src="/images/team/image2.png" alt="image2.png">
      </div>
      <div class="team-des">
        <h4 class="team-name">JON DOE</h4>
        <div class="team-name-des">Creative Director</div>
      </div>
    </div>

  </div>

  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

    <div class="team-section">
      <div class="team-image">
        <img class="team-img" src="/images/team/image3.png" alt="image3.png">
      </div>
      <div class="team-des">
        <h4 class="team-name">JANE DOE</h4>
        <div class="team-name-des">Creative Director</div>
      </div>
    </div>

  </div>
</div>
<div class="divider"></div>
