<div class="divider"></div>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 description">
    <h3 id="team">TEAM</h3>
    <p class="description"> Our team ofers creative and inovative solutions for every arhitecture or structural engenering project that you can think of. </p>
    <p class="description"> We take pride in our work and everything we create is executed with precision and love. </p>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

    <div class="team-section">
      <div class="team-image">
        <img class="team-img" src="/images/team/image1.png" alt="image1.png">
      </div>
      <div class="team-des">
        <h4 class="team-name">JANE JONSON</h4>
        <div class="team-name-des">Creative Director</div>
      </div>
    </div>

  </div>

  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

    <div class="team-section">
      <div class="team-image">
        <img class="team-img" src="/images/team/image2.png" alt="image2.png">
      </div>
      <div class="team-des">
        <h4 class="team-name">JON DOE</h4>
        <div class="team-name-des">Creative Director</div>
      </div>
    </div>

  </div>

  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

    <div class="team-section">
      <div class="team-image">
        <img class="team-img" src="/images/team/image3.png" alt="image3.png">
      </div>
      <div class="team-des">
        <h4 class="team-name">JANE DOE</h4>
        <div class="team-name-des">Creative Director</div>
      </div>
    </div>

  </div>
</div>
<div class="divider"></div>


<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
  <div class="flipper">
    <div class="front">
      <span class="name">David Walsh</span>
    </div>
    <div class="back">
      <div class="back-logo"></div>
      <div class="back-title">@davidwalshblog</div>
      <p>Mozilla Web Developer, MooTools & jQuery Consultant, MooTools Core Developer, Javascript Fanatic, CSS Tinkerer, PHP Hacker, and web lover.</p>
    </div>
  </div>
</div>
