.divider {
  display: block;
  width: 100%;
  height: 0px;
  margin: 0px auto 10px;
  box-shadow: none;
  color: #333;
}

.dividerTop {
  padding-top: 20px;
  border-bottom: 4px double rgba(255, 255, 255, 0.5);
}

.dividerBottom {
  padding-bottom: 20px;
  border-top: 4px double rgba(255, 255, 255, 0.5);
  margin-bottom: 0px;
}

.team-section {
  margin-top: 0px;
  padding: 15px;
  transform: scale(1.0);
  transition: 0.5s;
  overflow: hidden;
}

.team-section:hover {
  /*transform: scale(1.2);*/
  /*transition: 0.5s;
  -webkit-transform: rotateX(180deg);*/
}

.team-image {
  background-color: rgba(72, 207, 173, 0.68);
}

.team-img {
  display: block;
  width: auto;
  height: auto;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 50%;
}

.team-des {
  background-color: #fff;
  border-left: 1px dashed grey;
  border-right: 1px dashed grey;
  border-bottom: 1px dashed grey;
}

.team-name {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 25px 5px 10px;
  color: #888;
  text-align: center;
}

.team-name-des {
  padding-top: 0px;
  padding-bottom: 25px;
  text-align: center;
}

.description {
  font-family: 'Slabo 27px', serif;
}

h3#team {
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 10px;
  color: white;
}

p.description {
  font-size: 16px;
  text-align: center;
  margin-bottom: 0px;
  color: white;
}

.teamBackground {
  /*background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url('/images/team/teamBackground.jpg');*/
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.3)), url('/images/team/teamBackground.jpg');
  /*background-image: url('/images/team/teamBackground.jpg');*/
  background-size: cover;
  background-position: center;
  height: auto;
}
